#about {
  background-color: $off-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  #about-me-summary {
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-left: 100px;
  }
}

@media (max-width: $bp_xlarge) {
  #about {
    flex-direction: column;
    justify-content: space-evenly;

    #about-me-summary {
      margin: 0;
      width: 100%;

      h1 {
        text-align: center !important;
      }
    }
  }
}
