.card-size {
  width: 136px;
  height: 196px;
}

.card-img-size {
  width: 96px;
  height: 96px;
}

.card-projects-size {
  width: 408px;
  height: auto;
}

.card-projects-img-size {
  width: 288px;
  height: 288px;
}
