.card-size {
  width: 136px;
  height: 196px;
}

.card-img-size {
  width: 96px;
  height: 96px;
}

.card-projects-img-size {
  width: 288px;
  height: 288px;
}

@media (min-width: $bp_small) {
  .card-projects-size {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (min-width: $bp_medium) {
  .card-projects-size {
    width: 408px;
    height: auto;
  }
}
