.bg-image {
  padding-top: 200px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  margin-top: -90px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../../images/dark-overlay-bg.gif");
  color: white;
}

@media (min-width: $bp_large) {
  #image-container {
    width: 300px;
  }
}

@media (min-width: $bp_xlarge) {
  #image-container {
    width: 400px;
  }
}
