#home {
  height: 120vh;
}

.bg-image {
  padding-top: 200px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  margin-top: -90px;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
}

#main-header {
  font-size: 3.25rem;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#main-subheader {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important;
}

#learn-about-me-btn {
  width: 200px;
}

@media (min-width: $bp_large) {
  #image-container {
    width: 300px;
    height: 300px;
  }
  #main-header {
    font-size: 5.5rem;
    line-height: 5.5rem;
    margin-bottom: 4rem;
  }
  #main-subheader {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  #learn-about-me-btn {
    width: 300px;
  }
}
