* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aboutme-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}

.image-bg {
  height: 100vh;
  position: fixed;
  object-fit: cover;
  opacity: 0.4;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
}

@media (max-width: $bp_small) {
  .profile-pic {
    width: 100px;
  }
}
